div{
    background-color: rgb(232, 243, 214)
}

h1{
    color: #FAAB78;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

body{
    margin-top: 50px;
    text-align: center;
    background-color: rgb(232, 243, 214);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
    margin-left: 10px;
}

.topContainer{
    position: relative;
}
.top{
    position: absolute;
    border-color: rgb(255, 220, 169);
}

.pro{
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
}

img{
    display: inline-block;
}

.bottomCloud{
    position: absolute;
    top: 30px;
    right: 300px;
}

.topCloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}