div{
    background-color: rgb(232, 243, 214)
}

h1{
    color: #FAAB78;
    text-align: center;
}

body{
    margin-top: 50px;
    text-align: center;
    background-color: rgb(232, 243, 214)
}
p{
    margin-left: 10px;
}
.top{
    position: absolute;
    border-color: rgb(255, 220, 169);
}

.pro{
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
}

img{
    display: inline-block;
}

.bottomCloud{
    position: absolute;
    left: 200px;
}

.topCloud{
    position: relative;
    left: 200px;
}