div{
    background-color: rgb(232, 243, 214);
    height: 100px;
    width: 100px;
}

h1{
    margin: 2px;
    color: #FAAB78
}

body{
    margin:0;
}
p{
    margin-left: 10px;
}
.top{
    border-color: rgb(255, 220, 169);
}

.middle{
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: #FCF9BE;
}

.bottom{
    position: absolute;
    left: 200px;
    top: 200px;
    background-color: rgb(255, 220, 169);
}

.pro{
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
}

img{
    display: inline-block;
    position: absolute;
    left: 30px;
}